* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #8A0000;
    color: #FFFFFF;
    text-align: center;
    height: 100vh;
    font-weight: bold;
}

h1,
p {
    margin-bottom: 30px;
}

h1 {
    margin-top: 20px;
}

#message-el {
    font-style: italic;
}

.start-btn {
    width: 300px;
    height: 70px;
    font: inherit;
    color: #8A0000;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.start-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}